[Unit]
Description = Thingsboard Plant Camera Service
After = rc.local.service

[Service]
Type = simple
User = root
Group = root
ExecStart = /bin/sh /thingsboard/OpenVINO-YoloV3/flask/run.sh

[Install]
WantedBy = multi-user.target
