[Unit]
Description = Thingsboard Plant Camera Service
After = plant-flask-server.service

[Service]
Type = simple
User = root
Group = root
ExecStart = /bin/sh /thingsboard/OpenVINO-YoloV3/flask/run_client.sh

[Install]
WantedBy = multi-user.target
